<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HistoryKing_client.Properties.Settings.HistorykingConnectionString"
            connectionString="Data Source=210.118.69.65,8000;Initial Catalog=Historyking;Persist Security Info=True;User ID=jung;Password=!jwj2114!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>